@import '../styles/_theme.scss';

.root {
  display: flex;
}

.icon {
  font-size: $bigfont;
}

.content {
  flex: 1;
  margin-left: 1.5em;
}

.message {
  font-size: $bigfont;
  line-height: 1em;
  margin-bottom: 0.3em;
}

.submessage {
  @extend %boldfont;
}
