@import '../styles/_theme.scss';

$padding: 1em;

.root {
  border-bottom: 1px solid $primary;
  padding: 1.5em 0;
  display: flex;
  justify-content: space-between;
}

.input {
  padding: $padding;
  width: 300px;
  font-weight: bold;
}

.dropdown {
  display: none;
}
