@import '../styles/_theme.scss';

.root {
  text-align: center;

  span {
    animation: spin infinite 3s linear;
    font-size: $bigfont;
  }
}

.text {
  font-size: $bigfont;
  display: inline;
  margin-left: 0.5em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
